$background-clr: #f6f6f6;
.calculator{
border: 2px solid rgba(0, 0, 0, 0.849);
height: 470px;
width: 320px;
background-color: $background-clr;
}
.buttons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  $background-clr: #fcfcfc;
}
.row{
  display: flex;
  max-height: 50px;
}